<div id="about" class="min-h-screen w-screen">
  <div class="relative mb-8 mt-36 flex flex-col items-center gap-5">
    <p class="font-general text-sm uppercase md:text-[10px]">
      Welcome to Zentry
    </p>

    <div class="mt-5 text-center text-4xl uppercase leading-[0.8] md:text-[6rem]">
      Disc<b>o</b>ver the world's <br /> largest shared <b>a</b>dventure
    </div>
  </div>

  <div>

  </div>


  <div id="about" class="min-h-screen w-screen">
    <div #clip id="clip" class="h-dvh w-screen relative overflow-hidden">
      <div #mask class="mask-clip-path about-image absolute z-10">
        <img src="img/about.webp" alt="Background" class="w-full h-full object-cover" />
      </div>

      <div class="about-subtext text-center mt-8 relative z-1 ">
        <p>The Game of Games begins—your life, now an epic MMORPG</p>
        <p class="text-gray-500">
          Zentry unites every player from countless games and platforms, both
          digital and physical, into a unified Play Economy
        </p>
      </div>
    </div>
  </div>



</div>